@media screen and (min-width:500px) {
* {
	background: black;
}
h1 {
	position: fixed;
	width: 100%;
	top: 0px;
	background : #00ffcc;
	color: #ff0066;
	margin: auto;
	padding-left: 5%;
	font-size: 40px;
	margin-left: 0px;
	font-family: 'Gloria Hallelujah', cursive;
}
.art {
	width: 25%;
	padding-top: 1.5%;
	padding-left: 1.5%;
	padding-bottom: 1.5%;
	float: left;
	padding-right: 2%
}
.first {
	padding-top: 70px;
}
.sample {
	border: 5px solid #9966ff;
	overflow: auto;
}
p {
	color: #E1F5A9;
	font-family: 'Arvo', serif;
}
.rotate:hover
{
        -webkit-transform: rotateZ(-30deg);
        -ms-transform: rotateZ(-30deg);
        transform: rotateZ(-30deg);
}
.video {
		align: center;
		width: 40%;
		padding-top: 10%;
}
}
@media screen and (max-width:499px) {
	h1 {
		font-family: 'Yellowtail', cursive;
		background: #E1F5A9;
	}
	.art{
		width: 30%;
		padding-top: 1.5%;
		padding-left: 1.5%;
		padding-bottom: 1.5%;
		float: right;
		padding-right: 2%
	}
	.sample {
		border: 8px dotted #FFC400;
		overflow: auto;
	}
	p {
		font-family: 'Josefin Slab', serif;
	}
	.swing:hover
	{
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
	}
	.video {
		display: inline-block;
		padding-top: 10%;
		padding-left: 5%;
	}

	}